        *, *:before, *:after {
            box-sizing: border-box;
        }

        .cf:after {
            content: "";
            display: block;
            clear: both;
        }

        /* Header */
        .cubrir a {
            color: #ffffff;
            padding: 0 4px;
            margin-top: -50px;
            float: right;
            font-size: 16px;
        }

        header {
        height: 70px;
        background-color: #2d9890;
        color: #eee;
        margin: 0;
        }

        img {
            width: 50px;            
            margin-top: 15px;
            padding-left: 7px;
        }

        nav li {
            list-style-type: none;
            display: inline-block;
        }
        nav ul {
            margin: 0;
            padding-right: 20px;
            text-align: right;
        }

        nav a {
            text-decoration: none;
            color: #ffffff;
            font-size: 14px;
            float: right;
        }
        /* Header */

        /* Spices Image */
        main img {
            width: 100%;
            margin-top: 0;
            height: 200px;
            margin-left: 10px;
            
            }

        /* Spices Image */
      

        /* Spices Image */
        /* Heading 2 */
        main {
            overflow: auto;
            max-width: 800px;
            margin: 0 auto;
        }

        #section2  {
            background-color: #ffffff;
            display: inline-block;
        }

        #section2 p {
            padding: 10px;
            padding-left: 0;
            font-size: 12px;
        }
        /* Heading 2 */

        /* We */
        #lomejor {
            
            font-size: 20px;
            margin-bottom: 30px;
        }

        @font-face {
            font-family: 
        }
        /* We */

        nav ul {
            margin: 0;
            padding-right: 20px;
            text-align: right;
        }
        /* Header 3 */
    .column {
        width: auto;
        float: left;
    }

    .tresamigos {
        overflow: hidden;
    }

    .e3 {
        width: 18%;
        float: left;
    }

    #izq,
    #med,
    #der  {
        float: left;
        width: 33%;
        background-color: #eee;
        padding-right: 20px;
        font-size: 12px;
    }

    h3  {
        font-size: 14px;
        margin-top: 10px;
    }

    div.mainright {
        margin-left: 20px;
    }

        /* Header 3 */
        /*footer */
    footer {
        height: 70px;
        background-color: #d3d3d3;
        color: #eee;
        margin-bottom: 1em;
        color: #000000;
        padding: 25px;
        margin-top: 50px;
    }

    footer a {
        padding: 10px;
        color: #939393;
    } 
    /* footer */
    
    .main-left,
    .main-right {
        float: left;
    }

    .main-left {
        width: 60%;
    }

    .main-right {
        width: 40%
    }
    li a {
        margin-right: 40px;
    }